name: Build project

on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master

jobs:
    build:
        env:
            github_token: ${{ secrets.GITHUB_TOKEN }}
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: set up JDK 1.8
              uses: actions/setup-java@v1
              with:
                  java-version: 1.8
            - name: Code style check
              run: ./gradlew projectCodestyle
            - name: Assemble
              run: ./gradlew assemble
            - name: Unit tests
              run: ./gradlew test
            - name: Android Lint
              run: ./gradlew lint
