name: Publish Project to Gradle Plugin Portal

on:
  push:
    tags:
      - 'release-*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
  BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build app with Gradle
        run: ./gradlew build
      - name: Publish to Gradle Plugin Portal
        run: ./gradlew publishPlugins -Pgradle.publish.key=${{ secrets.gradle_publish_key }} -Pgradle.publish.secret=${{ secrets.gradle_publish_secret }}
      - name: Publish to Bintray repository
        run: ./gradlew bintrayUpload
      - name: Publish to Github Package Registry
        run: ./gradlew publish --continue || true
